.container {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
  max-width: 600px;
}

.title{
    text-align: center;
    font-size: 50px;
    color: red;
}

.header{
    display: flex;
    justify-content: space-between;
}

.bodyfind{
    display: flex;
    justify-content: space-between;
}

.btncad {
  align-items: right;
  width: 250px;
  height: 50px;
  border-radius: 5px;
}

.inputfind {
  margin-top: 20px;
  width: 300px;
  height: 30px;
}

.btnfind {
  margin-left: 20px;
  width: 120px;
  height: 30px;
  margin-top: 20px;
}

.formAdd{
    margin-top: 20px;
    border: 1px solid darkblue;
    border-radius: 5px;
    padding: 20px;
}
.formAdd label{
    margin-top: 30px;
    font-weight: bold;
}
.formAdd input{
    margin-left: 15px;
    margin-top: 10px;
}
.formAdd select{
    margin-left: 15px;
    margin-right: 15px;
    width: 50px;
}
.name{
    width: 310px;
}
.city{
    width: 200px;
}
.description{
    margin-top: 10px;
    width: 370px;
    height: 100px;
}

.btnform{
    height: 30px;
    width: 100px;
}
.btnform2{
    height: 30px;
    width: 100px;
    margin-left: 170px;
}