USE [master]
GO
/****** Object:  Database [Turismo]    Script Date: 18/04/2021 20:29:14 ******/
CREATE DATABASE [Turismo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pontos_tur', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\pontos_tur.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pontos_tur_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\pontos_tur_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Turismo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Turismo]
GO
/****** Object:  Table [dbo].[estados]    Script Date: 18/04/2021 20:29:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[uf] [char](2) NOT NULL,
	[nome] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pontos_tur]    Script Date: 18/04/2021 20:29:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pontos_tur](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[endereco] [varchar](200) NOT NULL,
	[cidade] [varchar](100) NOT NULL,
	[estado] [int] NOT NULL,
	[data] [date] NOT NULL,
	[descricao] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pontos_tur] ADD  DEFAULT (getdate()) FOR [data]
GO
ALTER TABLE [dbo].[pontos_tur]  WITH CHECK ADD FOREIGN KEY([estado])
REFERENCES [dbo].[estados] ([id])
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_pontos]    Script Date: 18/04/2021 20:29:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*INSERT INTO [dbo].[estados] (uf, nome) VALUES ('SP', 'SÃO PAULO')*/

/*INSERT INTO [dbo].[pontos_tur] (nome, endereco, cidade, estado) VALUES ('Ponto A', 'Rua A', 'Ourinhos', 1)*/

/*SELECT * FROM pontos_tur*/

CREATE PROCEDURE [dbo].[sp_listar_pontos]
AS 
BEGIN
	SELECT p.nome, p.descricao, p.endereco, p.cidade, e.uf, e.nome FROM pontos_tur AS p
	INNER JOIN estados AS e
	ON p.estado = e.id
	ORDER BY p.data desc
END
GO
USE [master]
GO
